@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-button svg {
    transition: 0.5s;
  }

  .hover-button:hover svg {
    transform: translateX(5px);
  }

  .grid-nav-layout {
    display: grid;
    grid-template-columns: 256px calc(100% - 256px);
  }
}
